drone1:
  bt_navigator:
    ros__parameters:
      use_sim_time: true
      global_frame: map
      robot_base_frame: base_link_1
      odom_topic: odom
      bt_loop_duration: 10
      default_server_timeout: 20
      wait_for_service_timeout: 1000
      plugin_lib_names:
        - nav2_compute_path_to_pose_action_bt_node
        - nav2_follow_path_action_bt_node
        - nav2_goal_reached_condition_bt_node
        - nav2_goal_updated_condition_bt_node
        - nav2_initial_pose_received_condition_bt_node
        - nav2_navigate_to_pose_action_bt_node
        - nav2_recovery_node_bt_node
        - nav2_clear_costmap_service_bt_node
        - nav2_spin_action_bt_node
        - nav2_wait_action_bt_node
        - nav2_back_up_action_bt_node

  bt_navigator_navigate_to_pose_rclcpp_node:
    ros__parameters:
      use_sim_time: true

  controller_server:
    ros__parameters:
      use_sim_time: true
      controller_frequency: 20.0
      min_x_velocity_threshold: 0.001
      min_y_velocity_threshold: 0.001
      min_theta_velocity_threshold: 0.001
      failure_tolerance: 0.3
      progress_checker_plugin: "progress_checker"
      goal_checker_plugins: ["general_goal_checker"]
      controller_plugins: ["FollowPath"]

      progress_checker:
        plugin: "nav2_controller::SimpleProgressChecker"
        required_movement_radius: 0.2
        movement_time_allowance: 10.0

      general_goal_checker:
        stateful: true
        plugin: "nav2_controller::SimpleGoalChecker"
        xy_goal_tolerance: 0.3
        yaw_goal_tolerance: 0.3

      FollowPath:
        plugin: "dwb_core::DWBLocalPlanner"
        debug_trajectory_details: false
        min_vel_x: 0.0
        min_vel_y: -0.3
        max_vel_x: 0.5
        max_vel_y: 0.3
        max_vel_theta: 1.0
        min_speed_xy: 0.0
        max_speed_xy: 0.5
        min_speed_theta: 0.0
        acc_lim_x: 1.0
        acc_lim_y: 1.0
        acc_lim_theta: 2.0
        decel_lim_x: -1.0
        decel_lim_y: -1.0
        decel_lim_theta: -2.0
        vx_samples: 20
        vy_samples: 20
        vtheta_samples: 20
        sim_time: 1.5
        linear_granularity: 0.05
        angular_granularity: 0.025
        transform_tolerance: 0.2
        xy_goal_tolerance: 0.3
        trans_stopped_velocity: 0.05
        short_circuit_trajectory_evaluation: true
        stateful: true
        critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]
        BaseObstacle.scale: 0.02
        PathAlign.scale: 24.0
        GoalAlign.scale: 24.0
        PathDist.scale: 24.0
        GoalDist.scale: 24.0
        RotateToGoal.scale: 24.0

  planner_server:
    ros__parameters:
      use_sim_time: true
      expected_planner_frequency: 1.0
      planner_plugins: ["GridBased"]
      GridBased:
        plugin: "nav2_navfn_planner/NavfnPlanner"
        use_astar: false
        tolerance: 0.5
        allow_unknown: true

  behavior_server:
    ros__parameters:
      use_sim_time: true
      global_frame: map
      robot_base_frame: base_link_1
      costmap_topic: global_costmap/costmap_raw
      footprint_topic: global_costmap/published_footprint
      cycle_frequency: 10.0
      behavior_plugins: ["spin", "backup", "wait"]
      spin:
        plugin: "nav2_behaviors/Spin"
      backup:
        plugin: "nav2_behaviors/BackUp"
      wait:
        plugin: "nav2_behaviors/Wait"

  waypoint_follower:
    ros__parameters:
      use_sim_time: true
      loop_rate: 10
      stop_on_failure: true

  velocity_smoother:
    ros__parameters:
      use_sim_time: true
      smoothing_frequency: 20.0
      scale_velocities: false
      feedback: "OPEN_LOOP"
      max_velocity: [0.5, 0.5, 1.0]
      min_velocity: [-0.5, -0.5, -1.0]
      max_accel: [1.0, 1.0, 2.0]
      max_decel: [-1.0, -1.0, -2.0]
      odom_topic: odom
      odom_duration: 0.1

  local_costmap:
    local_costmap:
      ros__parameters:
        use_sim_time: true
        update_frequency: 5.0
        publish_frequency: 2.0
        global_frame: odom
        robot_base_frame: base_link_1
        rolling_window: true
        width: 5
        height: 5
        resolution: 0.05
        robot_radius: 0.2
        plugins: ["static_layer", "inflation_layer"]
        static_layer:
          plugin: "nav2_costmap_2d::StaticLayer"
          map_topic: map
          map_subscribe_transient_local: true
          subscribe_to_updates: true
        inflation_layer:
          plugin: "nav2_costmap_2d::InflationLayer"
          cost_scaling_factor: 2.0
          inflation_radius: 0.4
        always_send_full_costmap: true

  global_costmap:
    global_costmap:
      ros__parameters:
        use_sim_time: true
        update_frequency: 1.0
        publish_frequency: 1.0
        global_frame: map
        robot_base_frame: base_link_1
        resolution: 0.05
        track_unknown_space: true
        robot_radius: 0.2
        plugins: ["static_layer", "inflation_layer"]
        static_layer:
          plugin: "nav2_costmap_2d::StaticLayer"
          map_topic: map
          map_subscribe_transient_local: true
          subscribe_to_updates: true
        inflation_layer:
          plugin: "nav2_costmap_2d::InflationLayer"
          cost_scaling_factor: 2.0
          inflation_radius: 0.6
        always_send_full_costmap: true
